.git/
.dockerignore
node_modules
Dockerfile
Jenkinsfile
Jenkinsfile-Prod
.gitlab-ci.yml
.gitlab-ci.d
README.md
.turbo
apps/docs/node_modules
apps/docs/.turbu
apps/docs/.next
apps/web/node_modules
apps/web/.turbu
apps/web/.next
apps/storybook/node_modules
apps/storybook/.turbu
apps/storybook/.next
apps/storybook/storybook-static
packages/ui/node_modules